main::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

main::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: white; /* 스크롤바의 색상 */
    border-radius: 10px;
}

main::-webkit-scrollbar-track {
    background: white;  /*스크롤바 뒷 배경 색상*/
}

main {
    scrollbar-color: #f1f5f9 white;
}

img {
    border: 1px solid #000000;
}

h1 {
    margin: 0px;
    padding-bottom: 16px;
    border-bottom: 1px solid #cbd5e1;
}

select:hover {
    outline: none;
}
